<div layout="column" layout-fill>
  <div flex>
    <div layout="row" layout-fill>
      <div
        flex
        md-colors="{background: 'default-background-50'}"
        style="overflow-y: auto;"
      >
        
        <!-- Content (except destroy and reset) -->
          <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
            <form name="editsettings" style="padding: 4px" layout-wrap layout="row">
                      <dt>Date to try to approach {{ ctrl.date }}</dt>
                      <md-datepicker
                        ng-model="ctrl.date"
                        ng-change="ctrl.setArchivesMinMaxDate('TEST')"
                        md-min-date="ctrl.mindate"
                        md-max-date="ctrl.maxdate"
                        md-current-view="year"
                        name="dateField"
                      ></md-datepicker>
                      <small class="date_error" ng-messages="editsettings.dateField.$error">
                        <div ng-message="valid">The entered value is not a date!</div>
                        <div ng-message="required">This date is required!</div>
                        <div ng-message="mindate">Date is too early!</div>
                        <div ng-message="maxdate">Date is too late!</div>
                      </small>

            </form>
          </md-content>
      </div>
    </div>
  </div>
</div>
