<div layout="column" layout-fill>
  <div flex>
    <div layout="row" layout-fill>
      <div
        flex
        md-colors="{background: 'default-background-50'}"
        style="overflow-y: auto;"
      >
        
        <!-- Content (except destroy and reset) -->
          <md-content style="padding: 8px" md-colors="{'background': 'default-background-100'}" flex="grow">
            <form name="editsettings" style="padding: 4px" layout-wrap layout="row">
                      <dt>Date to try to approach {{ ctrl.datesuper }}</dt>
                      <md-datepicker
                        ng-model="ctrl.datesuper"
                      ></md-datepicker>

            </form>
          </md-content>
      </div>
    </div>
  </div>
</div>
